
<form class="container mt-5" *ngIf="this.user.type == 'Company'">
    <h2>Podaci o preduzecu</h2>
    <div class="form-group mt-3">
        <label for="inputKategorija">Kategorija</label>
        <select name="inputKategorija" id="kategorija" class="form-select" [(ngModel)]="kategorija">
            <option value="Prodavnica">Prodavnica</option>
            <option value="Ugostiteljski objekat">Ugostiteljski objekat</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="inputSD">Sifre delatnosti</label>
        <select name="inputSD" id="sifreDelatnosti" class="form-select" multiple [(ngModel)]="sifreDelatnosti">
            <option *ngFor="let x of sifre" value="{{x}}">{{x}}</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="inputPdv">Da li je preduzece u sistemu pdv-a?</label>
        <input style="margin-left: 10px;" type="checkbox" id="inputPdv" name="pdv" value="false" [(ngModel)]="pdv">
    </div>

    <div class="form-group mt-3">
        <label for="inputZiroRacun">Ziro racuni</label>
        <div id="inputZiroRacun" *ngFor="let r of racuni; let i = index">
            <input type="text" name="banka{{i}}" class="form-control mt-2" placeholder="Unesite naziv banke" [(ngModel)]="r.bankName">
            <input type="text" name="racun{{i}}" class="form-control mt-2" placeholder="Unesite ziro racun" [(ngModel)]="r.accountNumber">
            <button *ngIf="i > 0" class="btn btn-danger mt-3" (click)="removeBankAccount(i)">UKLONI</button>
        </div>
        <button class="btn btn-success mt-3" (click)="addBankAccount()">DODAJ</button>
    </div>

    <div class="form-group mt-3">
        <label for="inputMagacin">Magacini</label>
        <div id="inputMagacin" *ngFor="let m of magacini; let i = index">
            <input type="number" name="magacinid{{i}}" class="form-control mt-2" placeholder="Unesite ID magacina" value="{{m.warehouseID}}" [(ngModel)]="m.warehouseID">
            <input type="text" name="naziv{{i}}" class="form-control mt-2" placeholder="Unesite naziv magacina" [(ngModel)]="m.warehouseName">
            <button *ngIf="i > 0" class="btn btn-danger mt-3" (click)="removeWarehouse(i)">UKLONI</button>
        </div>
        <button class="btn btn-success mt-3" (click)="addWarehouse()">DODAJ</button>
    </div>

    <div class="form-group mt-3">
        <label for="inputKasa">Kase</label>
        <div id="inputKasa" *ngFor="let k of kase; let i = index">
            <input type="text" name="lokacijaKase{{i}}" class="form-control mt-2" placeholder="Unesite lokaciju objekta" [(ngModel)]="k.objectLocation">
            <select name="input" id="tipKase" class="form-control mt-2" [(ngModel)]="k.registerType">
                <option value="Galeb 10">Galeb 10</option>
                <option value="Galeb X5">Galeb X5</option>
                <option value="Sunmi V2 Pro">Sunmi V2 Pro</option>
            </select>
            <button *ngIf="i > 0" class="btn btn-danger mt-3" (click)="removeRegister(i)">UKLONI</button>
        </div>
        <button class="btn btn-success mt-3" (click)="addRegister()">DODAJ</button>
    </div>

    <div class="text-center mt-3">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="submitCompanyDetails()">POTVRDI</button>
        </div>
    </div>
    
    <span style="color: red; text-align: center;" *ngFor="let err of errorMessages">{{err}}<br/></span>

</form>

<hr/>

<form class="container mt-5" *ngIf="this.user.category || this.user.type == 'User'">

    <h2>Promena lozinke</h2>

    <div class="form-group mt-3">
        <label for="oldPassword">Stara Lozinka</label>
        <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Unesite staru lozinku" [(ngModel)]="oldPassword" autocomplete="on">
    </div>

    <div class="form-group mt-3">
        <label for="newPassword">Lozinka</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Unesite novu lozinku" [(ngModel)]="newPassword" autocomplete="on">
    </div>
    
    <div class="form-group mt-3">
        <label for="confirmPassword">Potvrda Lozinke</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Potvrdite novu lozniku" [(ngModel)]="confirmPassword" autocomplete="on">
    </div>

    <span style="color: red; text-align: center;" *ngFor="let err of errorMessages">{{err}}<br/></span>

    <div class="text-center mt-3">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="changePass()">PROMENI</button>
        </div>
    </div>
    
</form>

