<div class="container mt-5">
    <h5 class="text-end">Ukupno redova: {{numOfRows}}</h5>
    <table class="table table-dark">
        <thead class="text-center">
            <tr>
                <th class="table-dark">Sifra artikla</th>
                <th class="table-dark">Naziv artikla</th>
                <th class="table-dark">Jedinica mere</th>
                <th class="table-dark">Stopa poreza</th>
                <th class="table-dark">Proizvodjac</th>
            </tr>
        </thead>
        
        <tbody class="text-center">
            <tr *ngFor="let p of products | paginate: {
                itemsPerPage: 10,
                currentPage: p
            }">
                <td>{{p.product.productCode}}</td>
                <td>{{p.product.productName}}</td>
                <td>{{p.product.unitOfMeasure}}</td>
                <td>{{p.product.taxRate}}</td>
                <td>{{p.product.manufacturerName}}</td>
            </tr>
        </tbody>

        <pagination-controls 
            autoHide="false"
            (pageChange)="p = $event" 
            previousLabel="Prethodna"
            nextLabel="Sledeca"
            responsive="true">
        </pagination-controls>

        <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator> -->
        
    </table>
    <div class="text-center mt-3">
        <div id="button-container">
            <button type="submit" class="btn btn-primary" (click)="toggleForm()">{{buttonText}}</button>
        </div>
    </div>
    <form class="mt-3" *ngIf="this.showForm">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab>
                <ng-template mat-tab-label>
                    <h5 style="color: black;">Opsti podaci</h5>
                </ng-template>
                <div class="form-group mt-3">
                    <label for="inputProductCode">Sifra Artikla</label>
                    <input type="text" class="form-control" id="inputProductCode" name="inputProductCode" placeholder="Unesite sifru artikla" [(ngModel)]="productCode">
                </div>
                <div class="form-group mt-3">
                    <label for="inputProductName">Naziv Artikla</label>
                    <input type="text" class="form-control" id="inputProductName" name="inputProductName" placeholder="Unesite naziv artikla" [(ngModel)]="productName">
                </div>
                <div class="form-group mt-3">
                    <label for="inputUnitOfMeasure">Jedinica mere</label>
                    <input type="text" class="form-control" id="inputUnitOfMeasure" name="inputUnitOfMeasure" placeholder="Unesite jedinicu mere" [(ngModel)]="unitOfMeasure">
                </div>

                <div class="form-group mt-3">
                    <label for="inputWarehouse">Objekat</label>
                    
                    <select id="inputWarehouse" name="inputWarehouse" class="form-select" [(ngModel)]="selectedWarehouse">
                        <option *ngFor="let w of warehouses" [ngValue]="w">{{w.warehouseName}}</option>
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="inputTaxRate">Stopa poreza</label>
                    
                    <select id="inputTaxRate" name="inputTaxRate" class="form-select" [(ngModel)]="taxRate">
                        <option value="20">20%</option>
                        <option value="10">10%</option>
                        <option value="0">0%</option>
                    </select>
                </div>

                <h5 class="form-group mt-3" [hidden]="this.user.category != 'Ugostiteljski objekat'">Tip artikla</h5>

                <div class="form-group mt-3 form-check" *ngFor="let t of productTypes"  [hidden]="this.user.category != 'Ugostiteljski objekat'">
                    
                    <input type="radio" class="form-check-input" id="idProductType_{{t}}" name="productType" value="{{t}}" [(ngModel)]="productType">
                    <label for="idProductType_{{t}}" class="form-check-label">{{t}}</label><br/>

                </div>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <h5 style="color: black;">Dodatni podaci</h5>
                </ng-template>

            </mat-tab>
            
            <mat-tab>
                <ng-template mat-tab-label>
                    <h5 style="color: black;">Cene i stanje robe</h5>
                </ng-template>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sifra artikla</th>
                            <th>Slika artikla</th>
                            <th>Naziv magacina</th>
                            <th>Nabavna cena</th>
                            <th>Prodajna cena</th>
                            <th>Tekuce stanje</th>
                            <th>Min. zeljena kol.</th>
                            <th>Max. zeljena kol.</th>
                        </tr>
                        
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let p of products">
                            <td>{{p.product.productCode}}</td>
                            <td>
                                <img width="50" height="50" src="http://localhost:8000/{{p.product.imageUrl}}">
                            </td>
                            <td>{{p.warehouse.warehouseName}}</td>
                            <td>{{p.product.purchasePriceRSD}}</td>
                            <td>{{p.product.salesPriceRSD}}</td>
                            <td>{{p.currentStock}}</td>
                            <td>{{p.minWantedStock}}</td>
                            <td>{{p.maxWantedStock}}</td>
                        </tr>
                    </tbody>
                    
                </table>

            </mat-tab>
        </mat-tab-group>
        
        <span style="color: red; text-align: center;" *ngFor="let err of errors">{{err}}<br/></span>

        <div class="text-center mt-3">
            <div id="button-container">
                <button type="submit" class="btn btn-primary" (click)="addProduct()">Potvrdi</button>
            </div>
        </div>
    </form>
    
</div>