<div class="container mt-5">
    <h2>Izveštaj dnevnog pazara</h2>

    <hr/>

    <form class="container mt-3">
        <label>
            Odaberite datum: &nbsp;
            <input type="date" id="datePicker" name="datePicker" [(ngModel)]="selectedDate" (change)="getReport()">
        </label>
    </form>

    <hr/>

    <h2 *ngIf="error == ''">Ukupno pazara za izabrani dan: {{total}}</h2>
    <h2 *ngIf="error == ''">Ukupno pdv-a za izabrani dan: {{pdv}}</h2>
    <h2 *ngIf="error != ''">{{error}}</h2>
   
</div>