<!-- <p>home works!</p>
<img src="http://localhost:8000/uploads/product-icon.png"> -->

<div class="container mt-5" *ngIf="!this.user">
    <h1>Dobrodosli!</h1>

    <h2>Poslednjih 5 fiskalnih računa:</h2>

    <table class="table table-light">
        <thead>
            <tr>
                <th>Naziv preduzeća</th>
                <th>Iznos (RSD)</th>
                <th>PDV</th>
                <td>Proizvodi</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let i of invoices">
                <td>{{i.businessName}}</td>
                <td>{{i.total}} RSD</td>
                <td>{{i.total * (0.2)}} RSD</td>
                <td>
                    <ul>
                        <li *ngFor="let p of i.products">
                            {{p._id.productName}} x{{p.amount}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-5" *ngIf="this.user">
    <h3>Preduzeća</h3>
    <table class="table table-striped">
        <thead class="text-center">
            <tr>
                <th>Ime preduzeca</th>
                <th>PIB</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let c of companies">
                <td>{{c.businessName}}</td>
                <td>{{c.pib}}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <h3>Pretraga artikala</h3> 
    
    <input class="form-control mt-3" type="text" class="mt-3" [(ngModel)]="searchTerm" (input)="searchProducts()">
    
    <table class="table table-light mt-3">
        <thead class="text-center">
            <tr>
                <th>Naziv proizvoda</th>
                <th>Proizvođač</th>
                <th>Cena</th>
                <th>Objekat</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let p of productsSearch">
                <td>{{p.productName}}</td>
                <td>{{p.manufacturerName}}</td>
                <td>{{p.salesPriceRSD}}</td>
                <td>{{p.warehouse.warehouseName}}</td>
            </tr>
        </tbody>
    </table>
</div>