<div class="container mt-5">

    <table class="table table-light" *ngIf="!previewInProgress">
        <thead>
            <tr>
                <th>Naziv preduzeća</th>
                <th>Naziv objekta</th>
                <th>Iznos (RSD)</th>
                <th>Način plaćanja</th>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let i of invoices">
                <td>{{i.businessName}}</td>
                <td>{{i.location}}</td>
                <td>{{i.total}}</td>
                <td>{{i.paymentMethod}}</td>
                <td>
                    <button class="btn btn-primary" (click)="previewInvoice(i)">PREGLED</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mt-5" *ngIf="previewInProgress">
        

        <div class="text-center mt-3">
            <label>
                Naziv preduzeća i mesto izdavanja računa:
                <br/>
                <input class="mt-3" type="text" disabled [(ngModel)]="currentInvoice.businessName">
                <br/>
                <input class="mt-3" type="text" disabled [(ngModel)]="currentInvoice.location">
            </label>
            <hr/>
            <label>
                Datum izdavanja računa:
                <input class="mt-3" type="text" disabled [(ngModel)]="currentInvoice.dateCreated">
            </label>

            <table class="table table-light mt-3">
                <tr class="text-center">
                    <th>Naziv proizvoda</th>
                    <th>Cena</th>
                    <th>Kolicina</th>
                </tr>
                <tr class="text-center" *ngFor="let p of currentInvoice.products">
                    <th>{{p._id.productName}}</th>
                    <th>{{p._id.salesPriceRSD}} RSD</th>
                    <th>{{p.amount}} {{p._id.unitOfMeasure}}</th>
                </tr>
            </table>

            <hr/>
            <label>
                Način plaćanja:
                <input style="text-align: center;" type="text" disabled [(ngModel)]="currentInvoice.paymentMethod">
            </label>
            <hr/>
            <label>
                Iznos:
                <input style="direction: rtl;" type="text" disabled [(ngModel)]="currentInvoice.total"> RSD
            </label>
        </div>

        <div class="text-center mt-5">
            <button class="btn btn-secondary" (click)="back()">NAZAD</button>
        </div>
    </div>
    
</div>