<form class="container mt-5">

    <h2>Izbor narucioca po PIB-u</h2>

    <div class="form-group mt-3">
        <label for="pibSearch">PIB</label>
        <input type="text" class="form-control" id="pibSearch" name="pibSearch" placeholder="Unesite PIB" [(ngModel)]="pibSearch" (input)="getCompanyByPIB()">
    </div>

    


    <!-- <div class="text-center mt-3">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="">PROMENI</button>
        </div>
    </div> -->
    
</form>

<div class="container mt-5">
    <table class="table table-dark">

        <thead class="table-dark text-center">
            <tr>
                <th>username</th>
                <th>pib</th>
                <th>action</th>
            </tr>
        </thead>

        <tbody class="table-light text-center">
            <tr *ngFor="let c of orderersSearch">
                <td>{{c.username}}</td>
                <td>{{c.pib}}</td>
                <td>
                    <button type="button" (click)="addOrdererToCompany(c.username)" class="btn btn-success">
                        +
                    </button>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>

<hr/>

<div class="container mt-5">
    <h2>Narucioci</h2>
    <table class="table table-light">

        <tr class="table table-dark text-center">
            <th class="table-dark">businessName</th>
            <th class="table-dark">pib</th>
        </tr>
        
        <tr class="table table-light text-center" *ngFor="let o of this.user.orderers">
            <td>{{o.businessName}}</td>
            <td>{{o.pib}}</td>
        </tr>
        
    </table>
</div>

<hr/>

<form class="container mt-5">

    <h2>Unos novog narucioca</h2>

    <div class="form-group mt-3">
        <label for="inputFirstName">Ime odgovornog lica</label>
        <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="Unesite ime odgovornog lica" [(ngModel)]="this.formFirstName">
    </div>

    <div class="form-group mt-3">
        <label for="inputLastName">Prezime odgovornog lica</label>
        <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="Unesite prezime odgovornog lica" [(ngModel)]="this.formLastName">
    </div>

    <div class="form-group mt-3">
        <label for="inputPhone">Telefon</label>
        <input type="text" class="form-control" id="inputPhone" name="inputPhone" placeholder="Unesite telefon" [(ngModel)]="this.formPhone">
    </div>

    <div class="form-group mt-3">
        <label for="inputEmail">Mejl</label>
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Unesite mejl" [(ngModel)]="this.formEmail">
    </div>

    <div class="form-group mt-3">
        <label for="inputBusinessName">Naziv preduzeca</label>
        <input type="text" class="form-control" id="inputBusinessName" name="inputBusinessName" placeholder="Unesite naziv preduzeca" [(ngModel)]="this.formBusinessName">
    </div>

    <div class="form-group mt-3">
        <label for="inputBusinessAddress">Adresa preduzeca</label>
        <input type="text" class="form-control" id="inputBusinessAddress" name="inputBusinessAddress" placeholder="Unesite adresu preduzeca" [(ngModel)]="this.formBusinessAddress">
    </div>

    <div class="form-group mt-3">
        <label for="inputPIB">PIB</label>
        <input type="text" class="form-control" id="inputPIB" name="pib" placeholder="Unesite PIB" [(ngModel)]="this.formPIB">
    </div>

    <div class="form-group mt-3">
        <label for="inputCompanyNumber">Maticni broj preduzeca</label>
        <input type="text" class="form-control" id="inputCompanyNumber" name="inputCompanyNumber" placeholder="Unesite maticni broj preduzeca" [(ngModel)]="this.formCompanyNumber">
    </div>
    
    <span style="color: red; text-align: center;" *ngFor="let err of errorMessages">{{err}}<br/></span>

    <div class="text-center mt-3">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="addOrdererToCompany()">POTVRDI</button>
        </div>
    </div>
    
</form>

<hr/>
