
<form class="container mt-5">
    
    
    <div class="form-group mt-3">
        <label for="inputUsername">Korisnicko ime</label>
        <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Unesite korisnicko ime" [(ngModel)]="username">
    </div>
    
    <div class="form-group mt-3">
        <label for="inputPassword">Lozinka</label>
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Unesite Lozinku" [(ngModel)]="password">
    </div>

    <span style="color: red; text-align: center;">{{error}}</span>

    <div class="text-center mt-5">
        <div id="button-container">
          <button type="submit" class="btn btn-primary" (click)="login()">LOG IN</button>
        </div>
    </div>


</form>
