<h2 mat-dialog-title>Dodelite kategoriju artiklu</h2>

<mat-dialog-content>

    
    <div>
        <input type="text" class="form-control mb-3" placeholder="Termin za pretragu" [(ngModel)]="term" (input)="searchProducts()">
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Naziv artikla</th>
                <th>Kategorija</th>
                <th>Dodeli kategoriju</th>
            </tr>
            
        </thead>
        

        <tbody>
            <tr *ngFor="let p of productsSearch | paginate: {
                itemsPerPage: 5,
                currentPage: p
            }; let i = index;">
                <td>{{p.product.productName}}</td>
                <td>
                    <select class="form-select" [(ngModel)]="selectedCategory[i]">
                        <option *ngFor="let c of categories" [selected]="p.product.category == c.name">{{c.name}}</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="addCategoryToProduct(p.product, i)">DODELI</button>
                </td>
            </tr>
        </tbody>

        <pagination-controls 
            autoHide="false"
            (pageChange)="p = $event" 
            previousLabel="Prethodna"
            nextLabel="Sledeca"
            responsive="true">
        </pagination-controls>
        
    </table>

</mat-dialog-content>
