<div class="container mt-5">
    <h2>Nepotvrdjena preduzeca</h2>

    <table>
        <tr>
            <!-- <th>Index</th> -->
            <th>username</th>
            <th>pib</th>
            <th>firstname</th>
            <th>ACTION</th>
        </tr>
        <tr *ngFor="let c of pendingCompanies">
            <!-- <td>{{ i }}</td> -->
            <td>{{ c.username }}</td>
            <td>{{ c.pib }}</td>
            <td>{{ c.firstName }}</td>
            <td>
                <button (click)="approveCompany(c.username)">APPROVE</button>
                <button (click)="rejectCompany(c.username)">REJECT</button>
            </td>
        </tr>
    </table>
</div>

<hr/>

<form class="container mt-5" >

    <h2>Registruj korisnika</h2>
    
    <div class="form-group mt-3">
        <label for="userType">Izaberite tip korisnika za registraciju</label>
        <select style="margin-left: 10px;" name="userType" id="userType" [(ngModel)]="type">
            <option value="company">Preduzece</option>
            <option value="user">Korisnik</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="inputUsername">Korisnicko ime</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Unesite korisnicko ime" [(ngModel)]="username">
    </div>

    <div class="form-group mt-3">
        <label for="inputFirstName" *ngIf="this.type == 'company'">Ime odgovornog lica</label>
        <label for="inputFirstName" *ngIf="this.type == 'user'">Ime</label>
        <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="Unesite ime" [(ngModel)]="firstName">
    </div>

    <div class="form-group mt-3">
        <label for="inputLastName" *ngIf="this.type == 'company'">Prezime odgovornog lica</label>
        <label for="inputLastName" *ngIf="this.type == 'user'">Prezime</label>
        <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Unesite prezime" [(ngModel)]="lastName">
    </div>

    <div class="form-group mt-3">
        <label for="inputPhone">Kontakt telefon</label>
        <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="Unesite telefon" [(ngModel)]="phone">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'user'">
        <label for="idNumber">Broj Licne Karte</label>
        <input type="text" class="form-control" id="idNumber" name="idNumber" placeholder="Unesite Broj Licne Karte" [(ngModel)]="idNumber">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'company'">
        <label for="inputEmail">Email adresa</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Unesite email" [(ngModel)]="email">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'company'">
        <label for="inputBusinessName">Naziv preduzeca</label>
        <input type="text" class="form-control" id="inputBusinessName" name="businessName" placeholder="Unesite naziv preduzeca" [(ngModel)]="businessName">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'company'">
        <label for="inputBusinessAddress">Adresa preduzeca</label>
        <input type="text" class="form-control" id="inputBusinessAddress" name="businessAddress" placeholder="(Drzava, Grad, Postanski broj, Ulica i Broj)" [(ngModel)]="businessAddress">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'company'">
        <label for="inputPIB">PIB</label>
        <input type="text" class="form-control" id="inputPIB" name="pib" placeholder="Unesite PIB" [(ngModel)]="pib">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'company'">
        <label for="inputCompanyNumber">Maticni broj</label>
        <input type="number" class="form-control" id="inputCompanyNumber" name="companyNumber" placeholder="Unesite Maticni broj" [(ngModel)]="companyNumber">
    </div>

    <div class="form-group mt-3">
        <label for="inputPassword">Lozinka</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Unesite Lozinku" [(ngModel)]="password">
    </div>

    <div class="form-group mt-3">
        <label for="inputConfirmPassword">Potvrda Lozinke</label>
        <input type="password" class="form-control" id="inputConfirmPassword" name="passwordConfirmation" placeholder="Potvrdite Lozinku" [(ngModel)]="confirmPassword">
    </div>

    <div class="form-group mt-3" *ngIf="this.type == 'company'">
        <label for="inputLogo">Logo preduzeca</label>
        <br>
        <input id="inputImage" type="file" class="file-upload" (change)="uploadImage($event)">
    </div>

    <span style="color: red; text-align: center;" *ngFor="let err of errorMessages">{{err}}<br/></span>

    <div class="text-center mt-3" *ngIf="this.type == 'company'">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="registerCompany()">Registruj</button>
        </div>
    </div>

    <div class="text-center mt-3" *ngIf="this.type == 'user'">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="registerUser()">Registruj</button>
        </div>
    </div>

</form>

<hr/>

<div class="container mt-5">


    <h2>Sva preduzeca</h2>

    <table>
        <tr>
            <!-- <th>Index</th> -->
            <th>username</th>
            <th>pib</th>
            <th>firstname</th>
            <th>status</th>
            <!-- <th>ACTION</th> -->
        </tr>
        <tr *ngFor="let c of allCompanies">
            <!-- <td>{{ i }}</td> -->
            <td>{{ c.username }}</td>
            <td>{{ c.pib }}</td>
            <td>{{ c.firstName }}</td>
            <td>{{ c.status }}</td>
            <!-- <td>
                <button (click)="approveCompany(c.username)">APPROVE</button>
                <button (click)="rejectCompany(c.username)">REJECT</button>
            </td> -->
        </tr>
    </table>
</div>