.example-boundary {
    width: auto;
    height: 500px;
    max-width: 100%;
    // border: dotted #ccc 2px;
}

.example-box {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: solid 1px black;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 1;
}

.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

.restaurant{
    width: 80%;
    height: 640px;
    background-color: burlywood;
    align-items: center;
}

.restaurantTable{
    text-align: center;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    // background-color: darkgoldenrod;
    margin: 10px;
    align-items: center;
}