<!-- <div cdkDrag [cdkDragConstrainPosition]="computeDragRenderPos">
    
</div> -->

<!-- (dragend)="dragEnd($event)" -->
<!-- [cdkDragStartDelay]="500"  -->
<!-- [cdkDragConstrainPosition]="computeDragRenderPos" -->

<!-- <div class="container mt-5" style="background-color: aqua;">
    <div class="example-boundary">
        
        <div class="example-box" *ngFor="let r of divs" cdkDrag (cdkDragEnded)="test($event)"
            cdkDragBoundary=".example-boundary" [style.position.left]="r.x">
            
            <div id="lol1" class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
          
            {{r}}
        
        </div>
    </div>
</div> -->


<div class="container mt-5 d-flex justify-content-center">
    <div class="d-flex justify-content-evenly flex-wrap restaurant">
        <div class="restaurantTable" [style.background-color]="(t.status == 'ZAUZET') ? 'darkgoldenrod' : 'yellow'" *ngFor="let t of this.user.tables">
            {{t.name}}
        </div>
    </div>
</div>

<hr/>

<div class="text-center d-flex justify-content-around mt-5">
    <div id="button-container-2 mt-3">
        <button class="btn btn-success" (click)="addTable()">DODAJ STO</button>
    </div>
</div>
