<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img
          src="assets/icon.png"
          height="16"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="buttonsNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
        #buttonsNav="mdbCollapse"
      >
        <!-- Left links -->
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/">Glavna</a>
          </li>

          <!-- <li class="nav-item" *ngIf="user && user.type == 'Admin'">
            <a class="nav-link" href="admin">Glavna</a>
          </li> -->
          <li class="nav-item" *ngIf="user && user.type == 'Admin'">
            <a class="nav-link" href="admin/users">Korisnici</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company'">
            <a class="nav-link" href="profile">Podaci o preduzeću</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company'">
            <a class="nav-link" href="orderers">Naručioci</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company'">
            <a class="nav-link" href="goodsAndServices">Robe i usluge</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company'">
            <a class="nav-link" href="productLayout">Raspored artikala</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company' && user.category == 'Ugostiteljski objekat'">
            <a class="nav-link" href="tableLayout">Raspored stolova</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company'">
            <a class="nav-link" href="generateInvoice">Izdavanje računa</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'Company'">
            <a class="nav-link" href="reports">Pregled izveštaja</a>
          </li>
          <li class="nav-item" *ngIf="user && user.type == 'User'">
            <a class="nav-link" href="invoices">Pregled računa</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center" *ngIf="!this.loggedIn">
          <button type="button" class="btn btn-primary px-3 me-2" routerLink="login">
            Login
          </button>
          <button type="button" class="btn btn-link me-3" routerLink="register">
            Register
          </button>
        </div>
          
        <div class="d-flex align-items-center" *ngIf="this.loggedIn">
          <button type="button" class="btn btn-primary px-3 me-2" routerLink="profile">
            {{user.username}}
          </button>
          <button type="button" class="btn btn-link me-3" (click)="logout()">
            LOG OUT
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->