.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

.restaurant{
    width: 80%;
    height: 640px;
    background-color: burlywood;
    align-items: center;
}

.restaurantTable{
    text-align: center;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: 10px;
    align-items: center;
}