<form class="container mt-5" *ngIf="this.company.category == 'Ugostiteljski objekat'">
    <div class="mt-5 d-flex justify-content-center" *ngIf="!invoiceInProgressTable && !paymentScreenTable">
        <div class="d-flex justify-content-evenly flex-wrap restaurant">
            <div class="restaurantTable"
            [style.background-color]="(t.status == 'ZAUZET') ? 'darkgoldenrod' : 'yellow'" 
            *ngFor="let t of this.tables" (click)="selectTable(t)">
                {{t.name}} <br>
                <span [style.color]="(t.status == 'ZAUZET') ? 'red' : 'black'">{{t.status}}</span>
            </div>
        </div>
    </div>

    <div *ngIf="invoiceInProgressTable && !paymentScreenTable">
        <div class="form-group mt-3">
            <h5>Odaberite magacin / objekat</h5>
            <select class="form-select m-3" name="warehouseSelect" (change)="updateProducts()" [(ngModel)]="selectedWarehouse">
                <option *ngFor="let w of warehouses" [value]="w._id">{{w.warehouseName}}</option>
            </select>
        </div>

        <div class="form-group mt-3" *ngIf="selectedWarehouse">
            <h5>Stavke</h5>
            <div class="input-group input-group-append" id="inputItems{{i}}" *ngFor="let item of this.tables[currentTable].productsOnBill; let i = index">
                
                <select class="form-select m-3" name="item{{i}}" [(ngModel)]="this.tables[currentTable].productsOnBill[i]._id">
                    <option *ngFor="let product of products" [ngValue]="product._id">
                        {{product.productName}} - {{product.salesPriceRSD}} RSD
                    </option>
                </select>
                <input name="itemAmount{{i}}" class="input-group-text m-3" type="number" min="1" [(ngModel)]="this.tables[currentTable].productsOnBill[i].amount">
                <button class="btn btn-danger p-3 m-3" (click)="removeItem(i)">X</button>
            </div>
    
            <button class="btn btn-primary m-3" (click)="addItem()">DODAJ</button>
        </div>
        
        <div class="text-center mt-5">
            <div id="button-container">
              <button type="submit" class="btn btn-danger" (click)="closeInvoice()">ZATVORI RAČUN</button>
            </div>
        </div>

        <hr/>

        <div class="text-center d-flex justify-content-around mt-5">
            <div id="button-container">
                <button type="submit" class="btn btn-secondary" (click)="returnFromTable()">NAZAD</button>
              </div>
  
              <div id="button-container">
                  <button type="submit" class="btn btn-danger" (click)="cancelInvoiceForTable()">PONISTI</button>
              </div>
            
        </div>

    </div>

    <div class="form-group mt-3" *ngIf="!invoiceInProgressTable && paymentScreenTable">
        <h2>Ukupno: {{this.tables[this.currentTable].total}} RSD</h2>
        <hr/>
        <h2>Način plaćanja</h2>
        

        <ul style="list-style-type: none;">
            <li *ngFor="let p of paymentMethods; let index = index"> 
                <label>
                    <input name="pm{{index}}" type="radio" [value]="p" [(ngModel)]="paymentMethod"> 
                    {{p}}
                </label> 
            </li>
        </ul>
        <h3>Izabrani način: {{paymentMethod}}</h3>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Gotovina'">
            <label class="form-control">
                Dato gotovine: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="cashGiven" (input)="calculateChange()"> 
            </label>
            <br/>
            <label class="form-control">
                Broj LK: 
                <input class="form-control" name="idCardNumber" type="text" [(ngModel)]="idCardNumber"> 
            </label>
            <hr/>
            <h4>Kusur: </h4>
            <input disabled class="form-control" name="change" type="text" [(ngModel)]="change"> 
        </div>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Ček'">
            <label class="form-control">
                Ime kupca: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="customerFirstName"> 
            </label>
            <br/>
            <label class="form-control">
                Prezime kupca: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="customerLastName"> 
            </label>
            <br/>
            <label class="form-control">
                Broj LK: 
                <input class="form-control" name="idCardNumber" type="text" [(ngModel)]="idCardNumber"> 
            </label> 
        </div>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Kartica'">
            
            <label class="form-control">
                Broj LK: 
                <input class="form-control" name="idCardNumber" type="text" [(ngModel)]="idCardNumber"> 
            </label>
            <br/>
            <label class="form-control">
                Broj slip računa: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="slipNumber"> 
            </label>
        </div>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Virmansko'">
            
            <select class="form-select m-3" name="item{{i}}" [(ngModel)]="orderer">
                <option *ngFor="let o of orderers" [ngValue]="o.businessName">
                    {{o.businessName}}
                </option>
            </select>
            
        </div>

        <span style="color: red;" class="text-center mt-5" *ngFor="let e of errors">{{e}}<br/></span>

        <div class="text-center d-flex justify-content-around mt-5">
            <div id="button-container-2 mt-3">
                
                <button type="submit" class="btn btn-danger" (click)="cancel()">PONIŠTI</button>
            </div>

            <div id="button-container-3 mt-3">
                
                <button type="submit" class="btn btn-success" (click)="generateInvoiceForTable()">IZDAJ RAČUN</button>
            </div>
            
        </div>
    </div>
</form>

<form class="container mt-5" *ngIf="this.company.category == 'Prodavnica'">

    <div *ngIf="invoiceInProgress">
        <div class="form-group mt-3">
            <h5>Odaberite magacin / objekat</h5>
            <select class="form-select m-3" name="warehouseSelect" (change)="updateProducts()" [(ngModel)]="selectedWarehouse">
                <option *ngFor="let w of warehouses" [value]="w._id">{{w.warehouseName}}</option>
            </select>
        </div>
    
        <div class="form-group mt-3" *ngIf="selectedWarehouse">
            <h5>Stavke</h5>
            <div class="input-group input-group-append" id="inputItems{{i}}" *ngFor="let item of inputsProduct; let i = index">
                
                <select class="form-select m-3" name="item{{i}}" [(ngModel)]="inputsProduct[i]">
                    <option *ngFor="let product of products" [ngValue]="product">
                        {{product.productName}} - {{product.salesPriceRSD}} RSD
                    </option>
                </select>
                <input name="itemAmount{{i}}" class="input-group-text m-3" type="number" min="1" [(ngModel)]="inputsProduct[i].amount">
                <button class="btn btn-danger p-3 m-3" (click)="removeItem(i)">X</button>
            </div>
    
            <button class="btn btn-primary m-3" (click)="addItem()">DODAJ</button>
        </div>
        
        <div class="text-center mt-5">
            <div id="button-container">
              <button type="submit" class="btn btn-danger" (click)="closeInvoice()">ZATVORI RAČUN</button>
            </div>
        </div>
    </div>
    

    <div class="form-group mt-3" *ngIf="!invoiceInProgress">
        <h2>Ukupno: {{total}} RSD</h2>
        <hr/>
        <h2>Način plaćanja</h2>
        

        <ul style="list-style-type: none;">
            <li *ngFor="let p of paymentMethods; let index = index"> 
                <label>
                    <input name="pm{{index}}" type="radio" [value]="p" [(ngModel)]="paymentMethod"> 
                    {{p}}
                </label> 
            </li>
        </ul>
        <h3>Izabrani način: {{paymentMethod}}</h3>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Gotovina'">
            <label class="form-control">
                Dato gotovine: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="cashGiven" (input)="calculateChange()"> 
            </label>
            <br/>
            <label class="form-control">
                Broj LK: 
                <input class="form-control" name="idCardNumber" type="text" [(ngModel)]="idCardNumber"> 
            </label>
            <hr/>
            <h4>Kusur: </h4>
            <input disabled class="form-control" name="change" type="text" [(ngModel)]="change"> 
        </div>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Ček'">
            <label class="form-control">
                Ime kupca: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="customerFirstName"> 
            </label>
            <br/>
            <label class="form-control">
                Prezime kupca: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="customerLastName"> 
            </label>
            <br/>
            <label class="form-control">
                Broj LK: 
                <input class="form-control" name="idCardNumber" type="text" [(ngModel)]="idCardNumber"> 
            </label> 
        </div>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Kartica'">
            
            <label class="form-control">
                Broj LK: 
                <input class="form-control" name="idCardNumber" type="text" [(ngModel)]="idCardNumber"> 
            </label>
            <br/>
            <label class="form-control">
                Broj slip računa: 
                <input class="form-control" name="cashGiven" type="text" [(ngModel)]="slipNumber"> 
            </label>
        </div>

        <div class="form-group mt-3" *ngIf="paymentMethod == 'Virmansko'">
            
            <select class="form-select m-3" name="item{{i}}" [(ngModel)]="orderer">
                <option *ngFor="let o of orderers" [ngValue]="o.businessName">
                    {{o.businessName}}
                </option>
            </select>
            
        </div>

        <span style="color: red;" class="text-center mt-5" *ngFor="let e of errors">{{e}}<br/></span>

        <div class="text-center d-flex justify-content-around mt-5">
            <div id="button-container-2 mt-3">
                
                <button type="submit" class="btn btn-danger" (click)="cancel()">PONIŠTI</button>
            </div>

            <div id="button-container-3 mt-3">
                
                <button type="submit" class="btn btn-success" (click)="generateInvoice()">IZDAJ RAČUN</button>
            </div>
            
        </div>
    </div>

</form>