
<form class="container mt-5">
    
    <div class="form-group mt-3">
        <label for="inputCategory">Naziv kategorije</label>
        <input type="text" name="category" class="form-control" id="inputCategory" placeholder="Unesite naziv kategorije" [(ngModel)]="categoryName">
    </div>

    <div class="text-center mt-5">
        <div id="button-container">
          <button type="submit" class="btn btn-primary" (click)="addCategory()">DODAJ</button>
        </div>
    </div>

    
    <div class="text-center mt-5">
        <div id="button-container">
          <button type="submit" class="btn btn-primary" (click)="openDialog()">Dodeli artikal</button>
        </div>
    </div>

</form>
