<!-- <form class="container mt-5"> -->
<form class="container mt-5" >

    <div class="form-group mt-3">
        <label for="inputFirstName">Ime odgovornog lica</label>
        <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="Unesite ime" [(ngModel)]="firstName">
    </div>

    <div class="form-group mt-3">
        <label for="inputLastName">Prezime odgovornog lica</label>
        <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Unesite prezime" [(ngModel)]="lastName">
    </div>

    <div class="form-group mt-3">
        <label for="inputUsername">Korisnicko ime</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Unesite korisnicko ime" [(ngModel)]="username">
    </div>

    <div class="form-group mt-3">
        <label for="inputEmail">Email adresa</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Unesite email" [(ngModel)]="email">
    </div>

    <div class="form-group mt-3">
        <label for="inputPhone">Kontakt telefon</label>
        <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="Unesite telefon" [(ngModel)]="phone">
    </div>

    <div class="form-group mt-3">
        <label for="inputBusinessName">Naziv preduzeca</label>
        <input type="text" class="form-control" id="inputBusinessName" name="businessName" placeholder="Unesite naziv preduzeca" [(ngModel)]="businessName">
    </div>

    <div class="form-group mt-3">
        <label for="inputBusinessAddress">Adresa preduzeca</label>
        <input type="text" class="form-control" id="inputBusinessAddress" name="businessAddress" placeholder="(Drzava, Grad, Postanski broj, Ulica i Broj)" [(ngModel)]="businessAddress">
    </div>

    <div class="form-group mt-3">
        <label for="inputPIB">PIB</label>
        <input type="text" class="form-control" id="inputPIB" name="pib" placeholder="Unesite PIB" [(ngModel)]="pib">
    </div>

    <div class="form-group mt-3">
        <label for="inputCompanyNumber">Maticni broj</label>
        <input type="number" class="form-control" id="inputCompanyNumber" name="companyNumber" placeholder="Unesite Maticni broj" [(ngModel)]="companyNumber">
    </div>

    <div class="form-group mt-3">
        <label for="inputPassword">Lozinka</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Unesite Lozinku" [(ngModel)]="password">
    </div>

    <div class="form-group mt-3">
        <label for="inputConfirmPassword">Potvrda Lozinke</label>
        <input type="password" class="form-control" id="inputConfirmPassword" name="passwordConfirmation" placeholder="Potvrdite Lozinku" [(ngModel)]="passwordConfirmation">
    </div>

    <div class="form-group mt-3">
        <label for="inputLogo">Logo preduzeca</label>
        <br>
        <input id="inputImage" type="file" class="file-upload" (change)="uploadImage($event)">
    </div>

    <span style="color: red; text-align: center;" *ngFor="let err of errorMessages">{{err}}<br/></span>

    <div class="text-center mt-3">
        <div id="button-container">
        <button type="submit" class="btn btn-primary" (click)="register()">REGISTER</button>
        </div>
    </div>

</form>
<!-- </form> -->